.renk{
    background: linear-gradient(to top, rgb(49, 41, 41) , rgb(0, 0, 0)); 
    background-repeat: no-repeat;
  background-attachment: fixed;
}
.margin{
    margin-top: 2%;
}
.yazı{
    background: linear-gradient(to right, rgb(251, 255, 0), rgb(131, 142, 5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}
.portfolyo{
  opacity: 50%;
}
.altçizgi {
    background: linear-gradient(to right, rgb(251, 255, 0), rgb(131, 142, 5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .altçizgi:hover {
    text-decoration: none;  
  }
  
  .altçizgi:after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 0;  
    height: 3px;
    width: 0;
    background-color: yellow;
    transition: 0.3s;  
  }
  
  .altçizgi:hover:after {
    width: 53%; 
  }
  .bilgi:hover {
    text-decoration: none;  
  }
  
  .bilgi:after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 0;  
    height: 3px;
    width: 0;
    background-color: yellow;
    transition: 0.3s;  
  }
  
  .bilgi:hover:after {
    width: 23%; 
  }
  .bilgi{
    opacity: 50%;
  }
  .anasayfa:hover {
    text-decoration: none;  
    
  }
  
  .anasayfa:after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 0;  
    height: 3px;
    width: 0;
    background-color: yellow;
    transition: 0.3s;  
  }
  
  .anasayfa:hover:after {
    width: 48%; 
  }


  .boyutlandırma{
    width: 26%;
    margin-right: 20%;
    border: 4px solid gold; 
            border-radius: 50%;
            box-shadow: 0 0 50px white;
  }
.isim{
  color: azure;
  font-family: 'Sedgwick Ave', cursive;
}
.isim {
  letter-spacing: 15px;
}

@media (max-width: 768px) {
  .isim  {
    letter-spacing: 9px;
  }
}

@media (max-width: 576px) {
  .isim {
   letter-spacing: 2px; 
  }
}
@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

.daktilo {
  color: whitesmoke;
  font-size: xx-large;
  font: bold 111% Consolas, Monaco, monospace;
  border-right: .1em solid gold;
  width: 22ch;  
  /* margin: 2em 1em; */
  white-space: nowrap;
  overflow: hidden;
  animation: typing 6s steps(22, end),
           blink-caret .5s step-end infinite alternate;
}